/* Varsayılan tema: Light */
:root {
  --background-color: #e4e4e4;
  --text-color: #211b2b;
  --h1-color: #6c2cee;
  --h2-color: #7952c7;
  --a-color: #a29aac;
  --quote-hover: #938a8a;
}

/* Dark tema */
[data-theme="dark"] {
  --background-color: #303039;
  --text-color: #cfcce3;
  --h1-color: #f6e3e3;
  --h2-color: #f6e3e3;
  --a-color: #938a8a;
  --quote-hover: #938a8a;
}

/* Temel gövde stilleri */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.2s, color 0.2s;
}

h1 {
  color: var(--h1-color);
  font-size: 14px;
  font-weight: bold;
}

h2 {
  color: var(--h2-color);
  font-size: 22px;
  font-weight: bold;
}

/* Link stilleri */
a {
  color: var(--a-color);
  text-decoration: underline;
  transition: color 0.2s;
  font-size: 18px;
}

a:hover {
  color: var(--quote-hover);
}

/* Genel kutu stilleri */
.command-box, .index, .login {
  max-width: 500px; /* Genişliği artırdık */
  /* Genişliği yüzde olarak belirledik */
  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border: 1px solid #e5e7eb;
  cursor: copy;
  transition: background-color 0.2s, color 0.2s;
  background-color: var(--background-color);
  color: var(--text-color);
  
  
  margin-inline:auto;
  box-shadow: 0 4px 6px rgba(99, 98, 98, 0.75);
  
  border-radius: 5px;
}

.command-box:hover, .index:hover, .login:hover {
  background-color: #f3f4f6;
  color: #ffcc00;
}

/* Giriş buton stilleri */
.login button, .index button {
  display: flex;
  outline: 0;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 13px;
  background: #373737;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
  margin: auto;
  margin-top: 2.5%;
  margin-bottom: 5%;
}

.login button:hover, .index button:hover {
  border-color: #373737;
  background-color: #494949;
  color: #373737;
}

.login button:disabled, .index button:disabled {
  background-color: var(--background-color);
  color: #666;
}

/* Giriş input stilleri */
.login input {
  background-color: #2f2f30;
  outline: 0;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 10px 22px;
  border: 2px solid #2f2f30;
  width: 80%; /* Genişliği yüzde olarak belirledik */
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  margin-top: 2.5%;
  margin-bottom: 5%;
  display: block; /* Blok seviyesi eleman olarak ayarlandı */
  margin-inline: auto; /* Ortalamak için */
}


.login input:focus {
  border: 2px solid #3a3d41;
}

.login h1 {
  text-align: center;
  margin-bottom: 2.5%;
}

.login label {
  font-size: 18px;
  color: var(--h1-color);
  font-weight: bold;
}

/* Alıntı stilleri */
.quote {
  font-style: italic;
  font-size: 20px;
}

.quote span {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  font-style: normal;
  color: #757575;
}

.quote a {
  text-decoration: underline;
  color: rgba(30, 158, 243, 0.733);
}

.quote a:hover {
  color: rgb(51, 170, 250);
}

/* Animasyonlar */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

.toast {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 400px;
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  z-index: 1000;
}

.toast.show {
  display: block;
  animation: fadeIn 0.5s ease forwards;
}

.toast.hide {
  animation: fadeOut 0.5s ease forwards;
}

.toast .toast-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toast .message {
  margin-right: 16px;
}

.toast .btn-done,
.toast .btn-close {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.toast .btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
}
