---
import Layout from '@layouts/Layout.astro';
---

<Layout>
  <div class="login">
    <h1>Login</h1>
    <br />
    <form id="login-form" style="max-width: 300px; max-height: 400px; margin:auto;">
      
        <input type="email" id="email" autocomplete="email" placeholder="E-mail" required><br><br>
      
      <br />
      
        <input type="password" id="password" placeholder="password" required><br><br>
      
      <br />
        <button type="submit"> Sign In </button>  
      
    </form>
    <br/>
    <div class="quote">
      <center>
        <span>Kaydın Yokmu?</span>
        <span>Hemen Oluştur!</span>
       
      </center>
    </div>
    <div style="text-align: center;">
    
      <form action="/signup"  accept-charset="UTF-8" method="POST">
        <br />
        <button type="submit" class="py-2center; flex; px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Sign Up</button>
      </form>
    </div>
  </div>
  <script type="module" src="src/lib/signin.js"></script>
</Layout>
  