---
import '@styles/global.css';
---
<form action="/api/session" accept-charset="UTF-8" method="POST">
  <div>
    <h2>
      <label for="email">Email:</label>
    </h2>
    <br />
    <input type="email" name="email" required />
  </div>
  <div>
    <h2>
      <label for="password">Password:</label>
    </h2>
    <br />
    <input type="password" name="password" required />
  </div>
  <br />
  <button type="submit">Login</button>
</form>
---