---
export default function ThemeToggle() {
  return (
    <>
      <button id="theme-toggle">Toggle Theme</button>
      <script dangerouslySetInnerHTML={{ __html: script }}></script>
    </>
  );
}
