/* Varsayılan tema: Light */
:root {
  --background-color: #303039;
  --text-color: #dd7e7e;
  --h1-color: #ba6060;
}

/* Dark tema */
[data-theme="dark"] {
  --background-color: #303039;
  --text-color: #cfcce3;
  --h1-color: #f6e3e3;
  --h2-color: #f6e3e3;
  --a-color: #938a8a;
  --quote-hover: #938a8a;
}

[data-theme="light"] {
  --background-color: #cae2f0;
  --text-color: #211b2b;
  --h1-color: #7d49e5;
  --h2-color: #7d49e5;
  --a-color: #6943a0;
  --quote-hover: #938a8a;
}

body {
  background-color: var(--background-color);
  color: #333;
}

h1 {
  color: var(--h1-color);
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
}

a {
  color: var(--a-color);
  font-size: var(--a-font-size);
  font-weight: var(--a-font-weight);
}
h2 {
  color: var(--h2-color);
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
}
.login {
  width: 400px;
  margin: 100px auto;
  background-color: --background-color;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(99, 98, 98, 0.75);
  color: white;
}

.quote {
  font-style: italic;
  font-size: 20px;
}

.quote span {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  font-style: normal;
  color: #757575;
}

.quote a {
  text-decoration: underline;
  color: rgba(30, 158, 243, 0.733);
}

.quote a:hover {
  color: rgb(51, 170, 250);
}

.index {
  width: 400px;
  margin: 100px auto;
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(99, 98, 98, 0.75);
  color: white;
}

.index button {
  display: flex;
  outline: 0;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 13px;
  background: #373737;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
  margin: auto;
  margin-top: 2.5%;
  margin-bottom: 5%;
}

.index button:hover {
  border-color: #373737;
  background-color: #494949;
  color: #373737;
}

.index button:disabled,
button[disabled] {
  background-color: var(--background-color);
  color: #666;
}

.login button {
  display: flex;
  outline: 0;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 13px;
  background: --background-color;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
  margin: auto;
  margin-top: 2.5%;
  margin-bottom: 5%;
}

.login button:hover {
  border-color: var(--background-color);
  background-color: #494949;
  color: #373737;
}

.login button:disabled,
button[disabled] {
  background-color: #2e2e2e;
  color: #e8e8e8;
}

.login h1 {
  text-align: center;
  margin-bottom: 2.5%;
}

.login input {
  background-color: #2f2f30;
  outline: 0;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 10px 22px;
  border: 2px solid #2f2f30;
  min-width: 300px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  margin-top: 2.5%;
  margin-bottom: 5%;
}

.login input:focus {
  border: 2px solid #3a3d41;
}

.login label {
  font-size: 18px;
}

button{
  color: var(--h1-color);
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
}

label{
  color: var(--h1-color);
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
}

